<table #mapTable>
  <tr *ngFor="let row of rows; let j = index">
    <td *ngFor="let col of cols; let i = index" style="width:100px;height:100px;position: relative;" [ngClass]="isReachable(i, j) ? 'reachable' : 'none'">
      
      <div class="btn-light" style="width:100px;height:100px;position:relative" (click)="onRoomClick(i, j);">
        <div *ngIf="map[i][j] !== null && map[i][j] !== undefined">
          <img style="z-index: 1;" [ngClass]="map[i][j].getDirectionClassName()"
          style="width:100px;height:100px;" src="{{ map[i][j].path }}">
          <div class="room-label" style="z-index: 2;">
            {{ map[i][j].direction }}
            {{ map[i][j].name }}
          </div>
          
          <div class="row room-overlay">              
            <div class="floor-label col-4">
              {{ map[i][j].getFloor() }}
            </div>
            <div class="player-token col-4" *ngFor="let player of playersHere(i, j); let p = index" [ngStyle]="{'color':player.color}"><b>X({{ player.movesRemaining }})</b></div>
          </div>
          
        </div>
        <div class="tile-coordinates">
          {{ i }}, {{ j }}
        </div>
        <button class="done-button" *ngIf="map[i][j] !== undefined && map[i][j].isNewRoom" (click)="doneRotatingRoom(i, j)">Done</button>
      </div>
    </td>
  </tr>
</table>