
<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="row">
      <app-floor [ngClass]="showFloor('b')" [rows]="rows" [cols]="cols" [map]="basementMap" 
      [players]="basementPlayers()" [reachableRooms]="reachableRooms"></app-floor>

      <app-floor [ngClass]="showFloor('g')" [rows]="rows" [cols]="cols" [map]="groundMap" 
      [players]="groundPlayers()" [reachableRooms]="reachableRooms"></app-floor>

      <app-floor [ngClass]="showFloor('u')" [rows]="rows" [cols]="cols" [map]="upperMap" 
      [players]="upperPlayers()" [reachableRooms]="reachableRooms"></app-floor>
    </div>
    <button class="btn-light nav-item rounded" [ngClass]="activeMap === 'b' ? 'active' : ''" (click)="seeBasement()">Basement</button>
    <button class="btn-light nav-item rounded" [ngClass]="activeMap === 'g' ? 'active' : ''" autofocus (click)="seeGround()">Ground</button>
    <button class="btn-light nav-item rounded" [ngClass]="activeMap === 'u' ? 'active' : ''" (click)="seeUpper()">Upper</button>
  </div>
  <div class="col-lg-12">
    <label for="diceToRoll" class="w-100">How many dice?</label>
    <input id="diceToRoll" type="number" [(ngModel)]="diceToRoll">
    <button class="btn-primary rounded" (click)="roll()">Roll</button>
  
  
    <label for="rollNumber">Result:</label>
    <p id="rollNumber">{{ rollNumber }}</p>
      
    <label for="currentPlayer" class="mr-1">Current Player:</label>
    <input id="currentPlayer" type="text" disabled value='{{ currentPlayer }}'>
    <!--End Status-->

    <!--Players-->
    <div *ngFor="let player of players; let i = index;">
      <app-character [player]="player" [index]="i" [active]="i === currentPlayer" (statRoll)="statRoll($event)" (finished)="nextPlayer()"></app-character>
    </div>
    <!--End Players-->

    <button class="btn-primary" (click)="test()">Test</button>
  </div>
</div>
    
  
